<p>Payment</p>
<form action = "/square/results">

<div>
<label for = "giraffe">APR</label>
<input id = "zebra" type = "text" name = "users_APR">
</div>

<div>
<label for = "elephant">Number of Years</label>
<input id = "monkey" type = "text" name = "users_year_number">
</div>

<div>
<label for = "snake">Principle</label>
<input id = "tiger" type = "text" name = "users_principal">
</div>

<div>
<button>Calculate Monthly Payment</button>
</div>
 </form>
