<p>Payment</p>
<form action = "/payment/results">

<div>
<label for = "lion">APR</label>
<input id = "lion" type = "text" name = "users_APR">
</div>

<div>
<label for = "monkey">Number of Years</label>
<input id = "monkey" type = "text" name = "users_year_number">
</div>

<div>
<label for = "tiger">Principal</label>
<input id = "tiger" type = "text" name = "users_principal">
</div>

<div>
<button>Calculate Monthly Payment</button>
</div>
 </form>
