<h1>Payment Results</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @the_min%>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @the_max%>
  </dd>
  <dt>
    Results
  </dt>
  <dd>
    <%=@the_result%>
  </dd>
</dl>

<a href="/random/new">
  Generate Another Random Number
</a>
