<p>Payment</p>
<form action = "/random/results">

<div>
<label for = "lion">Minimum</label>
<input id = "lion" type = "text" name = "users_min">
</div>

<div>
<label for = "elephant">Maximum</label>
<input id = "elephant" type = "text" name = "users_max">
</div>
<div>
<button>Pick Random Number</button>
</div>
 </form>
