<p>Calculate the Square Root of a Number</p>
<form action = "/square_root/results">
<label for = "giraffe">Enter a number</label>
<input id = "zebra" type = "text" name = "users_number">
<button>Calculate square root</button>
 </form>
